@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background-color: #ececec;
    font-family: 'Roboto', sans-serif;
}

.list {
    padding-top: 10px;
    max-width: 80%;
    margin: auto;
}

.item {
    display: flex;
    box-shadow: 0 0px 4px #9d9d9d;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    color: #2d2d2d;
    text-decoration: none;
    transition: .2s ease;
}

.item:hover,
.item:focus {
    box-shadow: 0 0px 8px #919191;
}

.item__img {
    border-radius: 15px;
    width: 200px;
    min-height: 280px;
    margin-right: 20px;
    object-fit: cover;
}

.item__title {
    margin-top: 0;
    font-size: 1.6rem;
    font-weight: bold;
}

.item__info {
    display: flex;
    padding-bottom: 20px;
}

.item__info p {
    margin: 0;
    align-self: center;
    padding-right: 20px;
}

.item__details {
    list-style: none;
    margin: 0;
    padding-left: 20px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid #d1d1d1;
}

.item__details li {
    margin-bottom: .8rem;
    display: flex;
    justify-content: space-between;
}

.item__details li:last-child {
    margin-bottom: 0;
}

@media (max-width: 769px) {
    .item {
        flex-direction: column-reverse;
    }

    .item__title {
        font-size: 1.2rem;
    }

    .item__img {
        max-height: 100px;
        min-height: auto;
        width: auto;
        margin-right: 0;
        object-position: center;
    }

    .item__info {
        flex-direction: column-reverse;
    }

    .item__info p {
        padding-right: 0;
    }
    
    .item__details {
        margin-bottom: 20px;
    }
}